{{#> base }}

  {{> header contact=this }}

  <main role="main" class="container">

    {{#> container title="pracownia architektury" }}
      <div>
        <h1>{{title}}</h1>
        <p> biuro@desmodium.pl</br>
        tel. 793630660</br>
        adres do korespondencji:</br>
        ul. Grodzka 72/16, 38-400 Krosno</p>
      </div>
    {{/container}}

  </main>

{{/ base }}