{{#> base }}

  {{> header contact=this }}

  <main role="main" class="container">

    {{#> container title="pracownia architektury" }}
      <div>
        <h1>{{title}}</h1>
        <p> biuro@desmodium.pl
        tel. 793630660
        adres do korespondencji:
        ul. Grodzka 72/16, 38-400 Krosno</p>
      </div>
    {{/container}}

  </main>

{{/ base }}