{{#> base }}

  {{> header existing_buildings=this }}

  <main role="main" class="container">

    {{#> container title="About Page" }}
      <p class="lead">32 Use this document as a way to quickly start any new project.</p>
    {{/container}}

  </main>

{{/ base }}