{{#> base }}

  {{> header existing_buildings=this }}

  <main role="main">

    {{#> container title="budynki istniejące" }}
      <div class="row">
        <div class="col-12 col-md-9">
          <div class="img">
            <img src="https://via.placeholder.com/450x150" class="img-fluid force-full-width">
            <p class="img__desc float-left">Osiedle Batory w Krośnie -</br>projekt i koordynacja realizacji</p>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <h1 class="subject">{{title}}</h1>
          <p class="description">projektujemy i realizujemy
          wszelkie roboty budowlane jak
          remonty, przebudowy,
          rozbudowy czy
          termomodernizacje
          również przy wsparciu środków
          zewnętrznych</p>
        </div> 
      </div>
    {{/container}}

  </main>

{{/ base }}