{{#> base }}

  {{> header existing_buildings=this }}

  <main role="main" class="container">

    {{#> container title="budynki istniejące" }}
      <div class="row">
        <div class="col-9">
          <img src="https://via.placeholder.com/450x150">
        </div>
        <div class="col-3">
          <h1>{{title}}</h1>
          <p>projektujemy i realizujemy
          wszelkie roboty budowlane jak
          remonty, przebudowy,
          rozbudowy czy
          termomodernizacje
          rónwież przy wsparciu środków
          zewnętrznych</p>
        </div> 
      </div>
      <div class="row">
        <div class="col-3">
          <p>Osiedle Batory w Krośnie - projekt i koordynacja realizacji</p>
        </div>
      </div> 
    {{/container}}

  </main>

{{/ base }}