{{#> base }}

  {{> header home=this }}

  <main role="main" class="container">

    {{#> container title="Home Page" }}
      <p class="lead subject">projektujemy i realizujemy</br>wszelkiego typu</br>
      efektywne energetycznie</br>budynki</br></br>
      uszlachetniamy wnętrza i</br>przestrzenie</p>
    {{/container}}

  </main>

{{/ base }}