{{#> base }}

  {{> header interiors=this }}

  <main role="main" class="container">

    {{#> container title="wnętrza i przestrzenie" }}
      <div class="row">
        <div class="col-3">
          <h1>{{title}}</h1>
          <p>tworzymy szlachetne wnętrza i
          przestrzenie</p>
        </div>
        <div class="col-9">
          <img src="https://via.placeholder.com/450x150">
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>Osiedle Batory w Krośnie - projekt i koordynacja realizacji</p>
        </div>
      </div> 
    {{/container}}

  </main>

{{/ base }}