{{#> base }}

  {{> header interiors=this }}

  <main role="main">

    {{#> container title="wnętrza i przestrzenie" }}
      <div class="row">
        <div class="col-12 col-md-3">
          <h1>{{title}}</h1>
          <p>tworzymy szlachetne wnętrza i
          przestrzenie</p>
        </div>
        <div class="col-12 col-md-9">
          <img src="https://via.placeholder.com/450x150" class="img-fluid force-full-width">
          <div class="row no-gutters justify-content-end">
            <div class="col-12 col-sm-6">
            <p>Osiedle Batory w Krośnie -</br>projekt i koordynacja realizacji</p>
            </div>  
          </div>
        </div>
      </div> 
    {{/container}}

  </main>

{{/ base }}