{{#> base }}

  {{> header new_buildings=this }}

  <main role="main" class="container">

    {{#> container title="budynki nowe" }}
  <div class="row">
    <div class="col-9">
      <img src="https://via.placeholder.com/450x150">
    </div>
    <div class="col-3">
      <h1>{{title}}</h1>
      <p>projektujemy i realizujemy budynki wszelkiego typu
sporz¹dzamy dokumentacje,
uzyskujemy pozwolenia,
nadzorujemy i budujemy</p>
    </div>
  </div>  
    {{/container}}

  </main>

{{/ base }}