{{#> base }}

  {{> header price_list=this }}

  <main role="main" class="container">

    {{#> container title="cennik" }}
      <div>
        <h1 class="subject">{{title}}</h1>
        <h2>dobrą pracę wykonujemy w dobrej cenie</h2>
        <p class="description">usługi wyceniane są indywidualnie</br></br>
        uśredniony koszt projektu to ok. 100 z³/m2 lub</br>
        3-5 % wartości inwestycji</br></br>
        od 50% do 100% upustu</br>
        na usługi projektowe</br>
        w przypadku usługi kompleksowej</br>
        projekt+realizacja</br></br>
        w większości przypadków dofinansowania robót budowlanych</br>
        koszty projektu są refundowane ( są kosztami kwalifikowanymi) </p>
      </div>
    {{/container}}

  </main>

{{/ base }}