{{#> base }}

  {{> header price_list=this }}

  <main role="main" class="container">

    {{#> container title="cennik" }}
      <div>
        <h1>{{title}}</h1>
        <h2>dobrą pracę wykonujemy w dobrej cenie</h2>
        <p>usługi wyceniane są indywidualnie
        uśredniony koszt projektu to ok. 100 z³/m2 lub
        3-5 % wartości inwestycji
        od 50% do 100% upustu
        na usługi projektowe
        w przypadku us³ugi kompleksowej
        projekt+realizacja
        w większoœci przypadków dofinansowania robót budowlanych
        koszty projektu są refundowane ( są kosztami kwalifikowanymi) </p>
      </div>
    {{/container}}

  </main>

{{/ base }}