{{#> base }}

  {{> header price_list=this }}

  <main role="main" class="container">

    {{#> welcome title="Home Page" }}
      <p class="lead"><i class="fas fa-rocket"></i>dobrą pracę wykonujemy w dobrej cenie <a href="/about">document</a></p>
    {{/welcome}}

  </main>

{{/ base }}