.navbar {
    justify-content: center;
}

.navbar-brand {
    position: absolute;
    left: 0;
}

.navbar-collapse {
    // display: table !important;
    flex-grow: 0;
}

.force-full-width {
    width: 100%;
}
