<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{{#if home}} active{{/if}}">
        <a class="nav-link" href="/">Home {{current}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item{{#if new_buildings}} active{{/if}}">
        <a class="nav-link" href="/new_buildings.html">budynki nowe</a>
      </li>
      <li class="nav-item{{#if existing_buildings}} active{{/if}}">
        <a class="nav-link" href="/existing_buildings.html">budynki istniejące</a>
      </li>
      <li class="nav-item{{#if interiors}} active{{/if}}">
        <a class="nav-link" href="/interiors.html">wnętrza i przestrzenie</a>
      </li>
      <li class="nav-item{{#if contact}} active{{/if}}">
        <a class="nav-link" href="/contact.html">kontakt</a>
      </li>
      <li class="nav-item{{#if price_list}} active{{/if}}">
        <a class="nav-link" href="/price_list.html">cennik</a>
      </li>
    </ul>
  </div>
</nav>
